<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181862298769-4654kel1vre0u26ojitcjde5gn0ea1hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181862298769-4654kel1vre0u26ojitcjde5gn0ea1hp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181862298769-htsmdhcbnf2apbgcrj2kqas86gsm4l2r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAt00zEhr8yf8sX-l29I0zZkUJ4hgjEADY</string>
	<key>GCM_SENDER_ID</key>
	<string>181862298769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TruckIt</string>
	<key>PROJECT_ID</key>
	<string>truckit-247011</string>
	<key>STORAGE_BUCKET</key>
	<string>truckit-247011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:181862298769:ios:68cf0f16ca7958be</string>
	<key>DATABASE_URL</key>
	<string>https://truckit-247011.firebaseio.com</string>
</dict>
</plist>
